.App {
  text-align: center;
}

:root {
  --color-body: #ffffff;
  --color-accent: #943fa1;
  --color-accent-secondary: #efe2f1;
  --color-hover: #c465d3;
  --color-border: #dbdbdb;
  --color-text-main: #353535;
  --color-text-subtitle: #80797e;
}

//All styles for components contains own styles (see components folder)
